<div class="qt-wear-section">
  <div class="qt-wear-band">
    <div class="qt-wear-band-text">
      <div class="mdl-typography--display-2 mdl-typography--font-thin">Marketing and Distribution at the Author's
        Discretion</div>
      <p class="mdl-typography--headline mdl-typography--font-thin">
        The Publisher will only sell a portion of the books as agreed between the author and
        the publisher.
      </p>
      <p>
        <a class="mdl-typography--font-regular mdl-typography--text-uppercase qt-alt-link" href="">
          See proceeds of the sale as distributed&nbsp;<i class="material-icons">chevron_right</i>
        </a>
      </p>
    </div>
  </div>
</div>