<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
      <h3 class="mdl-cell mdl-cell--12-col">Publishing Procedures</h3>
      <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <i class="section__circle-container__circle feature-icon material-icons">rate_review</i>
        </div>
      <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <h4>Review</h4>
        We receive your manuscript and send it for peer review. The comments from peer review (as tracked changes or
        suggestions) are sent to the
        author through mail.
      </div>
      <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <i class="feature-icon material-icons">edit</i>
        </div>
      <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <h4>Editing</h4>
        Author makes necessary changes and sends the amended document back to the
        publisher who edits the manuscript if need be in accordance with the
        publisher’s editorial policy. <br> The document is then sent to the publisher’s proofreading department.
      </div>
      <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
        <i class="feature-icon material-icons">build</i>
       </div>
      <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <h4>Design</h4>
        The document is then sent for layout and cover design where produce a dummy book and send it to the author who
        may make final alterations if need be. The author then sends back the dummy and any alterations to the publisher
        who implements the changes as per the returned dummy book.
      </div>
      <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <i class="feature-icon material-icons">publish</i>
        </div>
      <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <h4>Publishing</h4>
        The publisher occasions the publication of the book/ journal article.
      </div>
    </div>
    
  </div>

</section>