<div class="qt-more-section">
  <div class="qt-section-title mdl-typography--display-1-color-contrast">Features and Service Charges</div>
  <div class="qt-card-container mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="../../assets/images/small.jpeg">
      </div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Book</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Up to 150 pages based on A5 paper
          template</span>
      </div>
      <div class="mdl-card__actions">
        <a class="qt-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
          <i class="material-icons">book</i>
          $450
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="../../assets/images/midbook.png">
      </div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Book</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead"> Ranging from 151 - 250 pages based on A5 paper
          template </span>
      </div>
      <div class="mdl-card__actions">
        <a class="qt-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
          <i class="material-icons">collections_bookmark</i>
          $550
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="../../assets/images/bigbook.jpg">
      </div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Book</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Ranging from 251 - 350 pages based on A5 paper
          template</span>
      </div>
      <div class="mdl-card__actions">
        <a class="qt-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
          <i class="material-icons">library_books</i>
          $650
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="../../assets/images/journal.jpeg">
      </div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Journal</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Journal articles are below 30 pages and payable
          upon submission of manuscript</span>
      </div>
      <div class="mdl-card__actions">
        <a class="qt-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
          <i class="material-icons">chrome_reader_mode</i>
          $200
        </a>
      </div>
    </div>
  </div>
</div>